{% if type == '选择题' %}
    {% for que in  ques %}
        <li id="qu_0_{{ forloop.counter }}">
            <div class="test_content_nr_tt">
                <i>{{ forloop.counter }}</i><span>(1分)</span><font>{{ que.que_content }}</font><b class="icon iconfont">&#xe881;</b>
            </div>
            <div class="test_content_nr_main">
                <ul>
                    <li class="option">
                        <input value="A" type="radio" class="radioOrCheck" name="{{ que.pk }}" id="0_answer_{{ forloop.counter }}_option_1"/>
                        <label for="0_answer_{{ forloop.counter }}_option_1">
                            A.<p class="ue" style="display: inline;">{{ que.que_A }}</p>
                        </label>
                    </li>
                    <li class="option">
                        <input value="B" type="radio" class="radioOrCheck" name="{{ que.pk }}" id="0_answer_{{ forloop.counter }}_option_2"/>
                        <label for="0_answer_{{ forloop.counter }}_option_2">
                            B.<p class="ue" style="display: inline;">{{ que.que_B }}</p>
                        </label>
                    </li>
                    <li class="option">
                        <input value="C" type="radio" class="radioOrCheck" name="{{ que.pk }}" id="0_answer_{{ forloop.counter }}_option_3"/>
                        <label for="0_answer_{{ forloop.counter }}_option_3">
                            C.<p class="ue" style="display: inline;">{{ que.que_C }}</p>
                        </label>
                    </li>
                    <li class="option">
                        <input value="D" type="radio" class="radioOrCheck" name="{{ que.pk }}" id="0_answer_{{ forloop.counter }}_option_4"/>
                        <label for="0_answer_{{ forloop.counter }}_option_4">
                            D.<p class="ue" style="display: inline;">{{ que.que_D }}</p>
                        </label>
                    </li>
                </ul>
            </div>
        </li>
    {% endfor %}
{% elif type == '判断题' %}
    {% for que in  ques %}
        <li id="qu_0_{{ forloop.counter }}">
            <div class="test_content_nr_tt">
                <i>{{ forloop.counter }}</i><span>(1分)</span><font>{{ que.que_content }}</font><b class="icon iconfont">&#xe881;</b>
            </div>
            <div class="test_content_nr_main">
                <ul>
                    <li class="option">
                        <input value="1" type="radio" class="radioOrCheck" name="{{ que.pk }}" id="0_answer_{{ forloop.counter }}_option_1"/>
                        <label for="0_answer_{{ forloop.counter }}_option_1">
                            <p class="ue" style="display: inline;">正确</p>
                        </label>
                    </li>
                    <li class="option">
                        <input value="0" type="radio" class="radioOrCheck" name="{{ que.pk }}" id="0_answer_{{ forloop.counter }}_option_2"/>
                        <label for="0_answer_{{ forloop.counter }}_option_2">
                            <p class="ue" style="display: inline;">错误</p>
                        </label>
                    </li>
                </ul>
            </div>
        </li>
    {% endfor %}
{% else %}
    {% for que in  ques %}
        <li id="qu_0_{{ forloop.counter }}">
            <div class="test_content_nr_tt">
                <i>{{ forloop.counter }}</i><span>(1分)</span><font><pre style="font-family:'Courier New' ">{{ que.que_content }}</pre></font><b class="icon iconfont">&#xe881;</b>
            </div>
            <div class="test_content_nr_main">
                <ul>
                    <li class="option">
                        <textarea class="text" style="width: 100%;font-size: 18px;" rows="10" name="{{ que.pk }}" id="0_answer_{{ forloop.counter }}_option_1">
                        </textarea>
                    </li>
                </ul>
            </div>
        </li>
    {% endfor %}
{% endif %}
