<li class="option">
    <input value="1" type="radio" class="radioOrCheck" name="answer{{ forloop.counter }}" id="0_answer_{{ forloop.counter }}_option_1"/>
    <label for="0_answer_{{ forloop.counter }}_option_1">
        <p class="ue" style="display: inline;">正确</p>
    </label>
</li>
<li class="option">
    <input value="0" type="radio" class="radioOrCheck" name="answer{{ forloop.counter }}" id="0_answer_{{ forloop.counter }}_option_2"/>
    <label for="0_answer_{{ forloop.counter }}_option_2">
        <p class="ue" style="display: inline;">错误</p>
    </label>
</li>