/*去除标签的默认间距*/
/**{margin: 0px;padding: 0px;}*/
body,ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dd,select,input,textarea,form,hr{margin:0;padding:0}

/*设置字体样式*/
body {font-family: 微软雅黑; background-color: white;color: #4a4646}

/*设置宽度*/
.width1200{
    width: 1200px;
}

/*去除默认的样式*/
ul{list-style: none}
a{text-decoration: none;color: black}
em{font-style: normal}
strong{font-weight: normal}

/*去除img加链接时产生的边框*/
img{border: 0;}

/*清除浮动,消除margin-top的塌陷*/
.clearfix:before,.clearfix:after{content: "";display: table}
.clearfix:after{clear: both}
.clearfix{zoom: 1}

/*浮动*/
.fl{float: left;}
.fr{float: right;}

/*居中*/
.center{margin: 0 auto;}